<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
</head>
<div id="all">
  <nav class="nav">
    <div id="logocontainer">
      <img id="logo" src="assets/images/new_logo.png">
    </div>
    <ul class="header-content">
      <li>
        <button routerLink="/register" class="btn">SIGN UP</button>
      <li>
      <li>
        <button class="btn">CONTACT</button>
      <li>
      <li>
        <button class="btn">ABOUT US</button>
      <li>
        <select id="sel">
          <option>ENG</option>
          <option>BOS</option>
        </select>
      <li>
      <app-button-component routerLink="/login">SIGN IN</app-button-component>
      <li>

    </ul>
  </nav>
  <div class="body">
    <app-webgl-background style="opacity: 50%"></app-webgl-background>

    <p id="msg">Stay organised with <u>Noted</u>.</p>
  </div>
</div>




